.container {
  max-width: 1120px;
  min-height: 1080px;
  margin: 0 auto;
  display: block;
  // flex-flow: row wrap;
  
  button {
    border: none;
    display: block;
    margin-top: 2.5rem;
    background: transparent;
    font-size: 1.25rem;
    font-weight:bold;
    color: #FF57B2;
  }
}

.logo {
  margin: 5rem 0;
  height: 1.5rem;
}

.posts {
  margin: 2rem 0;
  a {
    display: block;
    strong {
      font-size: 2rem; 
    }
    p {
      padding: 1rem 0;
    }
  }
}
