.banner {
  max-height: 30rem;
  width: 100%;
}

.postContent {
  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2rem;
    margin: 3rem 0;
  }
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 5rem;
  text-align: justify;
}

